# PostgreSQL
POSTGRES_SERVER=localhost
POSTGRES_USER=trackxpense
POSTGRES_PASSWORD=your_password
POSTGRES_DB=trackxpense

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Firebase
FIREBASE_CREDENTIALS=path/to/firebase-credentials.json